@import "tokyonight.css"; 

* {
  font-family: 'JetBrains Mono', 'Inter', 'Segoe UI, NotoSans Nerd Font', sans-serif;
  font-size: 16px;
  min-height: 0;
  padding: 0;
}

#waybar {
  background: @background-alt ;
  color: #c6d0f5;
  font-weight: 500;
}

#workspaces{
  background-color: transparent;
  min-width: 0;
  border: none;
}

#workspaces button {
  color: #babbf1;
  border-radius: 0px; 
  padding: 0 8px;
  background: transparent;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}

#workspaces button.active,
#workspaces button.focused{
  background: #6046ad; 
  color: #c6d0f5;
}

#pulseaudio,
#backlight,
#memory,
#network,
#battery,
#custom-separator{
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  border: none;
  margin-right: 10px;
}

#{
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  border: none;
}

#clock {
  color: #babbf1;
  font-weight: 700;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

#pulseaudio {
  color: #c6d0f5;
}

#backlight {
  color: #c6d0f5;
}

